body {
    font-family: 'Poppins', sans-serif;
    background-image: url('images/Black\ and\ White\ Aesthetic\ Elegant\ Minimalist\ Yoga\ Studio\ Logo_20241113_130538_0000.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    background-color: #e6e4e4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: auto;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    text-align: center;
    color: #fc0000;
    margin-bottom: 20px;
    font-weight: 600;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
}

input,
select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
}

button {
    background-color: #fc0000;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}